<div class="container chatbot">
  <h1>Chat with us</h1>

  <div class="chat-top-buttons">
    <%= link_to reset_questions_path do %>
      <span class="back-from-chat"><i class="fa-solid fa-arrows-spin"></i> Restart conversation</span>
    <% end %>
  </div>

  <div id="questions">
    <%= render @questions %>
  </div>

  <%= render "form", question: @question %>
</div>
