.tag-item {
  display: inline-block;
}

.tag-selector {
  position: absolute;
  transform: scale(0);
}

.tag-selector + label {
  cursor: pointer;
  display: inline-block;
  font-size: 0.7rem;
  border-radius: 50rem;
  padding: 0.1rem 0.5rem;
  background-color: #ECEAFF;
  color: $primary-color;
  border: 1px solid $primary-color;
  margin-right: 0.6rem;
  margin-bottom: 0.4rem;
}

.tag-selector:checked + label {
  background-color: $primary-color;
  color: white;
}
.mapboxgl-ctrl-geocoder {
  max-width: none;
  width: 100% !important;
  border: 1px solid lightgrey;
  box-shadow: none;
  background-color: white;
  border-radius: 4px;
}

.mapboxgl-ctrl-geocoder--input {
  width: 100% !important;
}
.mapboxgl-ctrl-geocoder--icon {
  display: none;
}
.mapboxgl-ctrl-geocoder--icon-search {
  display: none;
}
.suggestions {
  list-style-type: none;
}
