.index-maker-card-photo {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  opacity: 1.0;
}

.star-box {
  width: 20%;
}

.star-icon {
  opacity: 0.6;
  color: $font-color;
}

.category-tag {
  bordeR: 1px solid $font-color;
  border-radius: 5px;
  opacity: 0.6;
  color: $font-color;
  padding: 0px 3px 0px 3px;
}
