.heading1 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $primary-color;
}
.sign-up {
margin-top: 30px;
padding: 24px;
border-radius: 12px;
box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
max-width: 500px;
margin: 30px auto;
}
