<section class="container text-center p-4">
  <h2> Need help finding something? <span class="highlight">Just ask.</span> </h2>
  <br>
  <p> Our AI assistant helps you explore nearby producers in seconds—whether you're looking for fresh veggies, natural soap, or something new.</p>
  <br>
  <%= link_to "Start chatting", questions_path,  class: "button-primary" %>
</section>
