<section class="call-to-action-section">
  <div class="container">
    <h2 class="section-headline">Join our community!</h2>
    <%= link_to "Sign up", new_user_registration_path, class: "button-primary cta-button" %>
    <br>
    <br>
    <div class="footer-copyright">
    Made with <span class="highlight"><i class="fas fa-heart"></i></span> at Le Wagon Bali
  </div>
  <br>
  </div>
</section>
