<section class="call-to-action-section">
  <div class="container">
    <h2 class="section-headline">Ready to Eat Local?</h2>
    <%= link_to "Explore Makers Near You", makers_path, class: "button-primary cta-button" %>
  </div>
</section>
