<header class="hero-section">
  <%= image_tag "hero-background.jpeg", alt: "Local produce background", class: "hero-background-image" %>
  <div class="hero-content">
    <h1>Map the Makers</h1>
    <p>Buy direct from farmers, butchers, and artisans in your community.</p>
    <div class="hero-buttons">
      <%= link_to "Find a Producer", "#", class: "button-primary" %>
      <%= link_to "Add a Producer", "#", class:"button-secondary" %>
    </div>
  </div>
</header>
