<header class="hero-section" data-controller="hero-video">
  <%= video_tag "hero-background-video.mp4", data: { hero_video_target: "video" },
                autoplay: true,
                loop: true,
                muted: true,
                playsinline: true,
                poster: image_path("hero-background.jpeg"),
                class: "hero-background-video" %>

  <div class="hero-content-wrapper">
    <h1>Map the Makers</h1>
    <p>Buy direct from farmers, butchers, and artisans in your community.</p>
    <div class="hero-buttons">
      <%= link_to "Find a Producer", "#", class: "button-primary" %>
      <%= link_to "Add a Producer", "#", class:"button-secondary" %>
    </div>
  </div>
</header>
