<section class="how-it-works-section">
  <%# <h2>How it works</h2> %>
  <div class="how-it-works-cards">
    <div class="card">
      <%= image_tag "local-farmers.png", alt: "Magnifying Glass Icon", class: "card-icon" %>
      <h3>Explore Diverse Makers</h3>
      <p>Browse a rich variety of local farmers, butchers, fishermen, and food artisans.</p>
    </div>

    <div class="card">
      <%= image_tag "fresh-food.png", alt: "Plate and Fork Icon", class: "card-icon" %>
      <h3>Savor Fresh, Local Food</h3>
      <p>Access high-quality, seasonal produce and products directly from the source.</p>
    </div>

    <div class="card">
      <%= image_tag "recommend-maker.png", alt: "Hand Pointing Up Icon", class: "card-icon" %>
      <h3>Recommend a Maker</h3>
      <p>If you know someone in your local community who is a producer, suggest them to Map the Makers and help grow our network of conscious consumers!</p>
    </div>
  </div>
</section>
