<section class=" text-center mt-3 ">
  <div class="container">
      <h2 class="">Introducing <span class="highlight">Karma</span> points!</h2>
      <p>Complete missions to earn karma points and gain recognition as a community contributor.</p>
    <br>
    <div class="footer-copyright">
  </div>
  </div>
</section>
