<section class="popular-producers-section">
  <h2>Popular Producers</h2>
  <div class="popular-producers-list">
    <% if @popular_makers.present? %>
      <% @popular_makers.each do |maker| %>
        <div class="producer-placeholder">
          <%= link_to maker.name, maker_path(maker) %>
        </div>
      <% end %>
    <% else %>
      <div class="producer-placeholder">No popular producers to display yet!</div>
    <% end %>
  </div>
  <%= link_to "Explore producers near you", "#", class: "button-primary" %>
</section>
