<section class="popular-producers-section">
  <h2>Popular Producers</h2>
  <div class="popular-producers-list">
    <%# will create an algorithm later to determine which are popular producers %>
    <div class="producer-placeholder">Producer 1</div>
    <div class="producer-placeholder">Producer 2</div>
    <div class="producer-placeholder">Producer 3</div>
  </div>
  <%= link_to "Explore producers near you", "#", class: "button primary-button" %>
</section>
