
<section class="why-it-matters">
  <div class="quote mb-5 d-flex p-4">
    <span class="border-start border-secondary border-3 me-5"></span>
    <div class="text-start">
      <h4>"Buying local should be easier.</h4>
      <h4>So we build it together."</h4>
    </div>
  </div>
    <div class="mb-5">
      <h1>100%</h1>
      <h3><span class="highlight">community</span>-powered</h3>
    </div>
  <p>
    This map is <strong class="highlight">powered by locals, not brands.</strong> Every listing comes from someone who cares about sharing real, trustworthy producers in their area.
  </p>
</section>
