
<section class="why-it-matters">
    <%# <div class="quote mb-5 d-flex p-4">
    <span class="border-start border-secondary border-3 me-5"></span>
    <div class="text-start">
      <h4>"Buying local should be easier.</h4>
      <h4>So we build it together."</h4>
    </div>
  </div> %>
    <br>
    <div class="mb-5">
      <div class="d-flex justify-content-center">
        <h1
          data-controller="animated-number"
          data-animated-number-lazy-value=""
          data-animated-number-lazy-root-margin-value="30px"
          data-animated-number-lazy-threshold-value="0.4"
          data-animated-number-start-value="0"
          data-animated-number-end-value="100"
          data-animated-number-duration-value="1500"
        >
        0
        </h1><h1>%</h1>
      </div>
      <h3><span class="highlight">community</span>-powered</h3>
    </div>
  <p>
    This map is <strong class="highlight">powered by locals, not brands.</strong> Every listing comes from someone who cares about sharing real, trustworthy producers in their area.
  </p>
</section>
