/* app/assets/stylesheets/components/_map.scss */

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.mapbox-container {
  width: 100vw;
  height: 77vh;
  overflow: hidden;
  position: relative;
  z-index: 0;
}

.float-search {
  position: fixed;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  background-color: $background-color;
  padding: 10px 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.float-body {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  background-color: $background-color;
  padding: 10px 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.mapboxgl-popup {
  max-width: 200px;
  padding: 0;
  border-radius: 5%;

}

.mapboxgl-popup-content {
  // text-align: center;
  // font-family: "Open Sans", sans-serif;
  padding: 0;
  border-radius: 5%;
}

.info-window-producer-card {
  width: 250px;
  max-width: 100%;
  background-color: $background-color;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-decoration: none;
  color: inherit;
  display: block;
}

.info-window-producer-card .producer-card-image {
  width: 100%;
  height: 120px;
  object-fit: cover;
}

.info-window-producer-card .producer-card-info {
  padding: 10px;
  text-align: left;
}

.info-window-producer-card .producer-card-info h3 {
  font-size: 1.2rem;
  margin-top: 0;
  margin-bottom: 5px;
  color: $font-color;
}

.info-window-producer-card .producer-card-details-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.info-window-producer-card .producer-card-location,
.info-window-producer-card .producer-card-rating {
  font-size: 0.9rem;
  color: #666;
  white-space: nowrap;
}

.info-window-producer-card .producer-card-location i {
  color: $secondary-color;
  margin-right: 3px;
}

.info-window-producer-card .producer-card-rating i {
  color: $primary-color;
  margin-right: 3px;
}
.info-window-producer-card .producer-card-categories {
  font-size: 0.8rem;
  color: #888;
  margin-top: 5px;
  margin-bottom: 0;
}

.mapsearch {
  position: fixed;
  top: 10px;
  z-index: 20;
}

.bottom-bar {
  position: sticky;
  bottom: 0;
  z-index: 20;
}

.mapboxgl-canvas {
  position: static !important;
}

.mapboxgl-popup-close-button {
  color: $background-color;
}

// #instructions {
//   position: absolute;
//   right: 5px; /* Aligns to the left with a 20px margin */
//   width: 25%;
//   height: 25%; /* Sets the height to half of its parent's height */
//   top: 25%; /* Moves the top edge of the element to the vertical center */
//   transform: translateY(-25%); /* Moves the element up by half of its own height to truly center it */
//   padding: 20px;
//   background-color: $background-color;
//   overflow-y: scroll;
//   font-family: sans-serif;
//   display: none;
//   opacity: 0.9;
// }

#instructions {
  position: absolute;
  margin: 5px;
  width: 200px;
  height: 100px;
  top: 50%;
  transform: translateY(-50%);
  padding: 20px;
  background-color: $background-color;
  overflow-y: scroll;
  font-family: sans-serif;
  opacity: 90%;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Style for the trip summary box */
.trip-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
}

/* Style for the clear route button */
.clear-route-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  color: #888;
  cursor: pointer;
  padding: 0 5px;
}

.clear-route-button:hover {
  color: #000;
}
