/* app/assets/stylesheets/components/_map.scss */

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.mapbox-container {
  width: 100vw;
  height: 77vh;
  overflow: hidden;
  position: relative;
  z-index: 0;
}

.float-search {
  position: fixed;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  background-color: $background-color;
  padding: 10px 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.mapsearch {
  position: fixed;
  top: 10px;
  z-index: 20;
}

.bottom-bar {
  position: sticky;
  bottom: 0;
  z-index: 20;
}

.mapboxgl-canvas {
  position: static !important;
}

#instructions {
  position: absolute;
  margin: 20px;
  height: 60vh;
  width: 25%;
  top: 20%;
  bottom: 20%;
  padding: 20px;
  background-color: #ffffff66;
  overflow-y: scroll;
  font-family: sans-serif;
}
