<div class="container">
  <h1><span class="highlight"><%= @maker.name %></span>'s Profile</h1>
  <br>
  <h2>Add a review!</h2>
  <%= link_to "Submit", new_maker_review_path(@maker), class:"button-primary" %>
</div>
