<%# app/views/karma/_karma_explanation_summary.html.erb %>

<div class="karma-explanation-card">
  <h2>What is Karma?</h2> <%# This h2 will use the new card-main-heading mixin, but we keep its larger size %>

  <p>
    Karma on Map the Makers celebrates your contributions to our community.
    Every action you take to improve our local food resource earns you valuable points.
  </p>

  <div class="karma-info-link">
    <%= link_to "Learn more about Karma, Tiers, and Rewards", karma_info_path %>
  </div>
</div>
