<%# app/views/karma/dashboard.html.erb %>

<div class="container my-5">
  <div class="row">
    <div class="col-lg-10 offset-lg-1 col-md-12">
      <h1 class="text-center mb-5 display-4 fw-bold">Your Karma Dashboard</h1>

      <%= render 'karma/user_karma_summary',
          user_karma_points: @user_karma_points,
          current_karma_tier: @current_karma_tier,
          next_karma_tier: @next_karma_tier,
          progress_percentage: @progress_percentage,
          user_rank: @user_rank,
          user: @user # Pass @user as 'user' for comparison in leaderboard partial
      %>

      <%= render 'karma/karma_leaderboard',
          top_users: @top_users,
          user: @user # Pass @user as 'user' for comparison in leaderboard partial
      %>

      <%= render 'karma/karma_explanation_summary' %>

    </div>
  </div>
</div>
